<include file="Public:_header_common1" />
<title>{$glo.web_name}新手指引</title>
<meta http-equiv="keywords" content="{$glo.web_keywords}" />
<meta http-equiv="description" content="{$glo.web_descript}" />
<include file="Public:_header_main1" />
<div class="pic_top" style="background:url(__ROOT__/Style/H/images/images/xszy_banner.jpg) center no-repeat;"></div>
<div class="main">
	<div class="main_1000">
    	<div class="xunhao"><img src="__ROOT__/Style/H/images/images/pic_one.png" /></div>
        <div class="center">
       	 	<div class="left_jieshao1">
            	<h1 class="left_name">什么是融海行?</h1>
                <p class="left_text" style="text-align: left;">
                融海行是河北伟兰投资管理有限责任公司旗下的
互联网金融平台，
致力于为各位投资人提供风险可控、收益较高的互联网投资渠道。
通过本平台，您可以将手中的部分闲置资金，出借给有资金需求的个人或企业，并获得相应收益。
                </p>
                
            </div>
            <div class="right_jieshao"><img src="__ROOT__/Style/H/images/images/biaotu.png" /></div>
            <div class="clear"></div>
        </div>
        <div class="xunhao"><img src="__ROOT__/Style/H/images/images/pic_two.png" /></div>
        <div class="center">
        	<div class="left_mt"><img src="__ROOT__/Style/H/images/images/shujubiao.png" /></div>
       	 	<div class="right_jieshao">
            	<h1 class="right_name">为什么选择融海行?</h1>
                <p class="right_text">
                <b>门槛低</b>
只要您是年满18周岁的中国公民，最低100元就可以在融海行平台理财。<br> 
<b>风险小</b>
融海行平台采用房产抵押加担保公司担保的双保险风控体系，理财户风险极小。<br> 
<b>资金灵活</b>
理财户投标后急需资金时可以通过债权转让回笼资金。
                </p> 
            </div>
            
            <div class="clear"></div>
        </div>
        <div class="xunhao"><img src="__ROOT__/Style/H/images/images/pic_three.png" /></div>
        <div class="center">
			<h1 class="advance_title">融海行优势</h1>
			<div class="advance_img">
            	<ul>
                	<li>
                    	<div class="cds1"><img src="__ROOT__/Style/H/images/images/xin1.jpg" /></div>
                        <p class="cds2">多家实体店铺线下支撑</p>
                    </li>
                    <li>
                    	<div class="cds1"><img src="__ROOT__/Style/H/images/images/xin2.jpg" /></div>
                        <p class="cds2">专业团队监督，<br />不触碰法律红线</p>
                    </li>
                    <li>
                    	<div class="cds1"><img src="__ROOT__/Style/H/images/images/xin3.jpg" /></div>
                        <p class="cds2">严格把控业务风险，<br />全新业务模式</p>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <div class="xunhao"><img src="__ROOT__/Style/H/images/images/pic_four.png" /></div>
        <div class="center">
			<h1 class="prd_title">融海行产品</h1>
            <div class="prd_img">
            	<ul>
                	<li>
                    	<span class="prd_title1">A.房产抵押类</span>
                        <p class="prd_text">预期收益12%-18% ，期限 1-6个月，主要通过抵押<br />
						借款人房产来发布标使得理财户获得收益。
                        </p>
                    </li>
                    <li>
                    	<span class="prd_title1">B.垫资标</span>
                        <p class="prd_text">垫资有两种情况第一是指用房产抵押给银行，并且银行已经审批通过后，客户急用钱时需要垫资，等银行放款后还本付息；第二是指办理银行贷款的优质客户在每年按照银行政策需要归还本金的时候，由于流动资金不足等问题，暂时借款周转，等银行放款之后直接还本付息。
                        </p>
                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
		<!--<div class="xunhao"><img src="__ROOT__/Style/H/images/images/pic_five.png" /></div>
        <div class="center">
			<h1 class="prd_title">资费说明</h1>
            <div class="prd_img">
            	<p style="line-height: 25px;color: #555555;font-family: '微软雅黑';font-size: 16px;text-align: left;">1. 充值费用<br />
				  线上充值：免费<br />
				2. 提现费用<br />
				  投资期限不满一月的，按照提现金额的1%收取手续费；投资一月以上的，按照每笔5元收取手续费。 <br />
				3. VIP会员费<br />
				120元/年 (非借款者第一年免费)<br />
				4.利息管理费<br />
				投资人所得利息收益的10%作为管理费（投资人自行缴纳所得税）</p>
            </div>
        </div>-->
        <div class="xunhao"><img src="__ROOT__/Style/H/images/images/pic_five.png" /></div>
        <div class="center">
			<h1 class="advance_title">投资流程</h1>
            
        </div>
    </div>    
</div>
<div class="liucheng_img"><a href="__APP__/member/common/register/">立即注册</a></div>
<include file="Public:_footer1" />
