<include file="Public:_header_common_bangzhu_safe" />

<include file="Public:_header_main1" />
<div class="aqbz_banner" style="background:url(__ROOT__/Style/H/images/images/aqbz_banner.jpg) center no-repeat; height:150px;"></div>
<script type="text/javascript" src="js/jquery-1.4.7.min.js"></script>
<div class="main">
	<div class="main_1000">	
        <div class="center11">
       	 	<div class="left_jieshao">
            	<h1 class="fvname">法律保障</h1>
               <p class="left_fv">
               北京市盈科律师事务所石家庄分所于2011年注册成立，是由北京总部直接投资、直接管理的大型、综合性商务律师事务所。 盈科石家庄分所立足于华北地区，秉承"诚信、卓越、合作、责任"的服务理念，遵循规模化、专业化、品牌化、国际化的发展方向，通过组建专业的律师人才、市场人才、行政人才队伍，业务范围涵盖国际贸易、海外投资、IPO、并购与重组、投融资、PE、知识产权、企业法律风险控制、税务筹划、房地产与建设工程等各专业领域。盈科石家庄在独特的价值观与使命感引导下，以对商务法律服务和律师法律服务产品开发推广为特色，全力打造一家华北地区对律师帮助最大的律师事务所。
                </p>
                
            </div>
            <div class="right_fv"><img src="__ROOT__/Style/H/images/images/falv.jpg" /></div>
            <div class="clear"></div>
        </div>
        <div class="center11">
        	<!--<div class="left_yk"><img src="__ROOT__/Style/H/images/images/ygbg.jpg" /></div>
       	 	<div class="right_jieshao">
            	<h1 class="fvname">严格把控，六步为赢</h1>
                <div class="right_yk">
                	<ul>
                    	<li><span>实地考察：</span>合作担保机构实地考察线下借款人</li>
                        <li><span>资料审核：</span>审核包括银行流水、资产情况等十余项必备材料</li>
                        <li><span>背景调查：</span>对借款人背景、联系人信息详尽调查</li>
                        <li><span>还款能力：</span>结合资料审查和数据分析综合评估其还款能力 </li>
                        <li><span>抵押办理：</span>资产通过估值后办理相关抵押手续</li>
                        <li><span>二次核查：</span>由本平台自有风控团队二次严格把关</li>
                    </ul>
                </div> 
            </div>-->
            <h1 class="fvname">公司风控</h1>
			 <p class="left_fv">
				（一） 贷款申请<br>
				1.借款人因资金需求向公司提出书面贷款申请后，客户经理要对其主体资格、贷款用途等进行初审。<br>
				2.对不符合贷款条件的借款人，应及时退回其所有资料，并说明原因。<br>
				3.经客户经理初审符合贷款条件的，再进行实地调查。<br>
				（二）贷款调查<br>
				客户经理进行实地调查，重点审核贷款的风险点，切实做到“三个弄清楚”,弄清楚贷款真实用途,弄清楚借款人还款来源,弄清楚借给他怎么做风险最小。撰写真实、完整、准确的贷前调查报告。<br>
				（三）贷款审批<br>
				客户经理和风控部人员经风险排查实地调查后，提议召开贷审会，对贷款集体研究，进行表决，决定贷与不贷。<br>
				（四）贷款发放<br>
				财务人员收到审批后的借据进行贷时再审查。<br>
				（五）贷后检查<br>
				是贷款发放后针对借款人和担保人进行检查，贷后检查的主要内容有：1.看贷款资料的合法性、完整性。2.借款人是否按规定用途使用贷款。3.检查企业的生产经营和财务状况。4.贷款的预期效益和按期偿还的可能性，贷款利息的到位情况。5.借款人产权关系、法定代表人变更及债务落实情况。<br>
				（六）贷款回收<br>
				1.客户填写还款凭证，客户经理确认还款金额、日期、利息，凭还款凭证通知财务人员收款。<br>
				2.归还借款时原则上要求当天利随本清，对当天不能收妥的利息由财务人员书面通知客户经理催收。<br>
				3.客户未按借款凭证规定时间归还本息，风险管理部出具预警给客户经理并报业务部经理，逾期报请经理。<br>
				4.不能收回的，客户经理应向借款人发送书面催收通知单进行催收，有担保人的应向担保人发送书面催收通知单，仍未归还的，应先保全贷款必须在诉讼时效内及时进行起诉，保全资产，并及时申请执行，直至收回。 
			 </p>
            <div class="clear"></div>

        </div>
        <div class="center11">
            <div class="left_jieshao">
            	<h1 class="fvname">数据安全</h1>
                <p class="left_fv">
                 1、云数据库分离，确保融海行平台数据安全；<br />
                 2、数据库安全防纂改，保证平台资金安全；<br />
                 3、云磁盘可靠性不低于99.99%,自动宕机迁移数据备份和回滚系统性能报警；<br />
                 4、建立完善的系统安全内部控制制度，专人专号，权限分明，数据修改实时监控。
                </p>
                
            </div>
            <div class="right_fv"><img src="__ROOT__/Style/H/images/images/sjaq.jpg" /></div>
            <div class="clear"></div>
        </div>
        <div class="center11">
        	<div class="left_yk"><img src="__ROOT__/Style/H/images/images/touziren.jpg" /></div>
       	 	<div class="right_jieshao">
            	<h1 class="fvname">选择自由，分散投资，风险极小</h1>
                <div class="right_fstz">
                	投资人在本平台可以通过分散投资多个不同
项目，进而充分、有效地分散风险
                </div> 
            </div>
            
            <div class="clear"></div>
        </div>
        <div class="center11">
        <h1 class="fvname">政策法规</h1>
        <div class="ysaq">
        	1、民间借贷受法律保护<br>
			《合同法》第二十三章专门对“居间合同”作出规定，其第424条明确定义为：“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同”。融海行平台是合法设立的中介服务机构，致力于为民间借贷业务提供优质高效的撮合服务，以促成借贷双方形成借贷关系，然后收取相关报酬。此种居间服务有着明确的法律依据。理财人及借款人之间的借贷关系的合法性《合同法》第196条规定：“借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同”；根据《合同法》第十二章“借款合同”和最高人民法院《关于人民法院审理借贷案件的若干意见》，我国法律允许自然人等普通民事主体之间发生借贷关系，并允许出借方到期可以收回本金和符合法律规定的利息。理财人作为借款人，与贷款人之间形成的借贷关系受到法律保护。<br>
 
			2、利率规定<br>
			《合同法》第二百一十一条：自然人之间的借款合同对支付利息没有约定或者约定不明确的，视为不支付利息。自然人之间的借款合同约定支付利息的，借款的利率不得违反国家有关限制借款利率的规定。《最高人民法院关于人民法院审理借贷案件的若干意见》第六条：民间借贷的利率可以适当高于银行的利率，各地人民法院可根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍（包含利率本数）。超出此限度的，超出部分的利息不予保护。<br>
 
			3、电子合同规定<br>
			《合同法》第二章第十条规定：当事人订立合同，有书面形式、口头形式和其他形式。第十一条规定：书面形式是指合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等可以有形地表现所载内容的形式。<br>
			 
			4、居间平台收费规定<br>
			《合同法》第二十三章“居间合同”中第四百二十六条规定：居间人促成合同成立的，委托人应当按照约定支付报酬。对居间人的报酬没有约定或者约定不明确，依照本法第六十一条的规定仍不能确定的，根据居间人的劳务合理确定。因此贷款服务机构的存在和服务费的收取都是符合法律规定并受法律保护的。融海行既不吸储，也不放贷，作为一个网络信用管理及借贷服务中介机构，其业务范围和经营活动完全符合相关法律和国家的政策规定。融海行将在国家法律和相关政策的指引下，为广大借款人、出借人提供优质、高效的服务。
    	</div>
        </div>
    </div>    
</div>
<include file="Public:_footer1" />
