<include file="Public:_header_common1" /><include file="Public:_header_main1" />
<title>{$glo.web_name}安全保障</title>
<meta http-equiv="keywords" content="{$glo.web_keywords}" />
<meta http-equiv="description" content="{$glo.web_descript}" />
<link href="__ROOT__/Style/Help/css/bangzhu.css" rel="stylesheet" type="text/css">
<table width="979" border="0" cellspacing="0" cellpadding="0" class="cc">
  <tbody>
    <tr>
      <td height="80" colspan="2" background="__ROOT__/Style/Help/images/touzhione.jpg"><table width="205" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="center" class="cabout"><span class="f22 baitis fya1">安全保障</span></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td width="21"></td>
      <td width="957"><div class="bkki"> <br>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="58%" align="left"><p><span class="bkkifont f18 line_35"><strong class="f18 line_35 fya1">
                   <p>一<br />
本息保障计划<br /><br />

    本息保障计划是指当融海行的理财用户投资的借款标出现逾期违约时，网站首先按照合同约定向借款者追讨本息。由于追讨周期无法准确预测，故融海行承诺最晚在30天之内，利用风险保证金提前对理财用户的本息进行垫付，保证理财户的本息安全。</p>
    </strong></span></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p></td>
                <td width="42%" align="center" valign="top"><br>
                  <img src="__ROOT__/Style/Help/images/touzhione1.png" width="190" height="195"> <br></td>
              </tr>
              <tr>
                <td colspan="2"><div class="lineone5_1"></div>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p></td>
              </tr>
            </tbody>
          </table>
          <span>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="49%" height="292" align="left"><img src="__ROOT__/Style/Help/images/ding.png" width="234" height="218"> </td>
                <td width="51%" align="left"><p class="bkkifont f14 line_28" align="left"> <strong class="f18 line_35 fya1">
                    <p>二<br />
本息保障内容有哪些？<br /><br />

    标的类型
<ul>
   <li> ●房产抵押标</li>
   <li> ●车辆质押标</li>
   <li>●垫资标</li>
</ul>
    保障内容<br />
    1.VIP<br />
    2.垫付本金和利息<br />
    3.非VIP理财用户只垫付本金<br />

    内容说明<br />
    借款者一旦发生逾期，每天缴纳千分之二罚息，VIP理财户利息正常给。网站垫付理财用户后，开展资产处理行动，期间产生盈亏，网站自负。</p></strong>
</p>
                  <p class="bkkifont f14 line_28" align="left"><br>
                  </p></td>
              </tr>
              <tr>
                <td colspan="2"><div class="lineone5_1"></div></td>
              </tr>
            </tbody>
          </table>
          <table width="80%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="56%" height="291"><p class="f14 bkkifont line_28"><br><strong class="f18 line_35 fya1">
                <p>三<br />
本息保障会不会成为空头支票<br /><br />

    融海行网贷平台上的借款标的都是房产抵押标、车辆质押标和银行垫资标。银行垫资标我们会控制借款人的银行放款帐户、签订借款合同、办理律师委托等相关手续。因此，我们平台不会出现坏账，最多出现逾期不还的情况，这时候考验我们平台的主要是资金偿付和资产处理的能力。为此，我们平台专门制定了风险保证金制度来应对可能出现的垫付危机，而且平台承诺逾期30天之内偿还理财户代收本息也为我们平台赢得了处置资产的时间。
<br /><br />
    综上所述，我们平台的本息保障计划是事实求是的，不可能成为空头支票，"诚信赢天下"是我们平台一直坚持的准则。</p></p>
                  <p>&nbsp;</p></td>
                <td width="44%" align="center"><img src="__ROOT__/Style/Help/images/de.png" width="196" height="199"></td>
              </tr>
              <tr>
                <td colspan="2"><div class="lineone5_1"></div></td>
              </tr>
            </tbody>
          </table>
          <br>
          <table width="85%" border="0" cellspacing="0" cellpadding="0" class="cc">
            <tbody>
              <tr>
                <td width="51%" height="319"><p class="f14 bkkifont line_28"><img src="__ROOT__/Style/Help/images/fent.png" width="339" height="262"><br>
                  </p>
                  <p>&nbsp;</p></td>
                <td width="49%" align="left"><p><strong class="f18 fya1 line_35 bkkifont">
                <p>

四<br />
融海行会不会卷款跑路？<br /><br />

    融海行是一个信息发布平台，本身没有参与借款者和理财用户之间的资金来往，换句话说网站本身没有太多资金值得我们卷款跑路；
<br />
    存在卷款跑路的唯一可能是短时间内虚构大量的借款者发布大量的大额的标，借此来吸纳足够的资金，这块我们欢迎大家的监督，尽量不大批量的发标，也确保网站发布的借款者真实有效，相信在大家的监督下，可以避免网贷平台出现道德风险；
<br />
    同时融海行经过了6年的发展，一直坚持着"诚信赢天下"的准则，我们也会在金融业的漫漫长路中越走越远，发展融海行的品牌。

</p>
</strong>
</p>
                  <p class="bkkifont f14 line_28" align="left">&nbsp;</p></td>
              </tr>
              <tr>
                <td colspan="2"><div class="lineone5_1"></div></td>
              </tr>
            </tbody>
          </table>
          <br>
          </span></div></td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div> 
</div>
<include file="Public:_footer1" />