<include file="Public:_header_common_invest_index" />

<include file="Public:_header_main1" />
<taglib name="htmlA" />
<!--顶部结束-->
<div class="d_cc_banner" style="background:url({:get_ad(5)}) center no-repeat;"></div>
<div class="d_main_1000">
    <div class="d_project">
    	<ul>
        	<li class="borrow"><a href="__ROOT__/index.php/home/invest/index.html">普通借款</a></li>
			<li class="borrow" style="width:180px;"><a style="width:180px; padding:0 0;"  href="__ROOT__/index.php/home/invest/repay.html?borrow_status=6">标的最近还款计划</a></li>
            <!--<li><a href="/debt/index">债权转让</a></li>
            <li><a href="/fund/index.html">债权标</a></li>-->
        </ul>
    </div>
    <div class="d_shaixuan">
    <table width="615">
    <tbody>
		<tr>
			<td width="72" class="tt">标的状态</td>
			<php>foreach($searchMap['borrow_status'] as $key=>$v){</php>
                <php>if($key==$searchUrl['borrow_status']['cur']){</php>
					<td width="58" align="center"><span class="on">{$v}</span></td>
					<php>}else{</php>
						<td width="89" id="qx4" ><span><a href="__CONTROLLER__/index.html?type=search&{$searchUrl.borrow_status.url}&borrow_status={$key}">{$v}</a></span></td>
					<php>}</php>
				<php>}</php>
		</tr>
		<tr>
			<td class="tt">借款期限</td>
			<php>foreach($searchMap['borrow_duration'] as $key=>$v){</php>
                <php>if($key==$searchUrl['borrow_duration']['cur']){</php>
				<td align="center"><a href="__ROOT__/invest/index.html"><span class="on">{$v}</span></a></td>
				<php>}else{</php>
				<td id="yj3"><span><a href="__CONTROLLER__/index.html?type=search&{$searchUrl.borrow_duration.url}&borrow_duration={$key}">{$v}</a></span></td>
				<php>}</php>
             <php>}</php>
			
		</tr>
	</tbody>
    </table>
   <form name="searchform" action="__CONTROLLER__/index" method="get">
    <div class="message_z">
			<div class="left_soso">
                <div class="gjc">关键词搜索:</div>
                <div class="xianzhi">
                <ul>
                   <li style="width: 250px;"><htmla:radio id="is_keyword" value="key|vo.is_show" default="0|不限制,1|借款用户,2|借款名称" /></li>
                </ul>              
                </div> 
            </div>
            <div class="zx01">
                 <span>
                  <script type="text/javascript">var keywordval='';</script>
                   <input style="color: rgb(168, 168, 168);" type="text" name="searchkeywords" class="zxinput w400" id="searchkeywords" value="{$searchMap.searchkeywords}" >
				  <span class="itdw"></span>
                  <input name="btnSubmit" id="btnSubmit" type="submit" class="zxpass" value="查&nbsp;&nbsp;询">
                </span>
             </div>
            
	<div class="clear"></div>
    </div>
    </form>
	</div>
    
    <div class="d_center2">
        <div class="sxb">
        	<div class="sxb_title">
        	<h1>投资列表</h1>
            <span>省时省心，安全灵活的理财计划！</span>
            </div>
        </div>
		<!--<volist name="list.list" id="vb">
        <div class="tz_z1">
        	<div class="tz_loan">
                <div class="item_fl">
                    <div class="title_c">
						<php>if($vb['borrow_type']==5){echo '<div class="title_ico"><img src="__ROOT__/Style/H/images/images/index_di.png" /></div>';}</php>
                        <div class="title_text"><a href="{$vb.id|getInvestUrl=###}" target="_blank">{$vb.borrow_name|cnsubstr=###,17}</a></div>
                        <div class="clear"></div>
                    </div>
                    <div class="tz_des">
                        <div class="amount des">金额：<span class="amount_a">{$vb.borrow_money|getMoneyFormt=###}</span> 元</div>
                        <div class="ratio des">年利率：<span class="ratio_a">{$vb.borrow_interest_rate}%</span></div>
                        <div class="month des">期限：<span class="month_a">{$vb.borrow_duration} <if condition="$vb.repayment_type eq 1">天<else/>个月</if></span></div>
                        <div class="return_type des">还款方式：<span>{$Bconfig['REPAYMENT_TYPE'][$vb['repayment_type']]}</span></div>
                    </div>
                </div>
                <div class="item_fr">
                    <div class="progress_ct">
                        <div class="progress_c">
                            剩余 <span class="number_16">{$vb.need|getMoneyFormt=###}</span> 元
                        </div>
                        <p class="yuan progressbar"> <span>{$vb.progress}</span>% </p>
                        <div class="clear"></div>
                    </div>
                    <div class="t_button">
					<if condition="$vb.borrow_status eq 4">
						<a href="javascript:;"  class="invest-button"><img src="__ROOT__/Style/H/images/images/fsz.png" /></a>
					<elseif condition="$vb.borrow_status eq 6"/>
                        <a href="javascript:;"  class="invest-button"><img src="__ROOT__/Style/H/images/images/hkz.png" /></a>
					<elseif condition="$vb.borrow_status eq 3"/>
                        <a href="javascript:;"  class="invest-button"><img src="__ROOT__/Style/H/images/images/ylb.png" /></a>
					 <elseif condition="$vb.borrow_status gt 6"/>
						<a href="{$vb.id|getInvestUrl=###}"  class="invest-button"><img src="__ROOT__/Style/H/images/images/ywc.png" /></a>
					<else/>
						<a href="{$vb.id|getInvestUrl=###}"  class="invest-button"><img src="__ROOT__/Style/H/images/images/lktb.png" /></a>
					</if>
                    </div>
                </div>
                <div class="clear"></div>
    		</div>
        </div>
        </volist>-->
        <div class="tz_z1">
			<ul class="ui-list ui-list-m ui-list-invest" id="loan-list">

				<li class="ui-list-header fn-clear" id="loan-list-header">
				  <span class="ui-list-title fn-left color-gray-text w260">借款标题</span>
				  <span class="ui-list-title fn-left color-gray-text text-center w120">年利率</span>
				  <span class="ui-list-title fn-left color-gray-text text-center w160">金额</span>
				  <span class="ui-list-title fn-left color-gray-text text-center w100">期限</span>
				  <span class="ui-list-title fn-left color-gray-text text-center w110">进度</span>
				  <span class="ui-list-title fn-left color-gray-text text-center w80"></span>
				</li>
				<volist name="list.list" id="vb">
				<li class="ui-list-item fn-clear ">
				  <span class="ui-list-field fn-left text-big w260">
						<php>if($vb['ifdianzibiao']==1){echo '<em class="ui-loantype"><img src="__ROOT__/Style/H/images/images/index_dian.png" /></em>';}else{echo '<em class="ui-loantype"><img src="__ROOT__/Style/H/images/images/index_di.png" /></em>';}</php>
						<a class="fn-left w210 rrd-dimgray fn-text-overflow" href="{$vb.id|getInvestUrl=###}" target="_blank" title="{$vb.borrow_name}">{$vb.borrow_name|cnsubstr=###,17}</a>
				  </span>
				  <span class="ui-list-field fn-left num text-right w90 pr30"><em class="value">{$vb.borrow_interest_rate}</em>%</span>
				  <span class="ui-list-field fn-left num text-right w130 pr30"><em class="value">{$vb.borrow_money|getMoneyFormt=###}</em>元</span>
				  <span class="ui-list-field fn-left num text-right w70 pr30"><em class="value">{$vb.borrow_duration}</em><if condition="$vb.repayment_type eq 1">天<else/>个月</if></span>
				  <span class="ui-list-field fn-left w110">
					<strong class="yuan progressbar"> <em>{$vb.progress}</em>% </strong>
				  </span>
				  <span class="ui-list-field fn-left w80">
					<if condition="$vb.borrow_status eq 4">
						<a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-IN_PROGRESS" ><span class="IN_PROGRESS">复审中</span></a>
					<elseif condition="$vb.borrow_status eq 3"/>
					   <a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-IN_PROGRESS" ><span class="IN_PROGRESS">已流标</span></a>
					<elseif condition="$vb.borrow_status eq 6"/>
						<a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-IN_PROGRESS"><span class="IN_PROGRESS">还款中</span></a>
					<elseif condition="$vb.borrow_status gt 6"/>
						<a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-IN_PROGRESS" href="{$vb.id|getInvestUrl=###}"><span class="READY FIRST_READY">已完成</span></a>
					<else/>
						<a class="ui-button ui-button-mid ui-button-blue ui-list-invest-button ui-list-invest-button-IN_PROGRESS" href="{$vb.id|getInvestUrl=###}"><span class="OPEN">投标</span></a>
					</if>
						
				  </span>
				</li>
				</volist>
			</ul>        	
        </div>
        <div class="clear"></div>
        <div id="list_page">
            <div class="d_page">
                {$list.page}
            </div>
    	</div>
   	</div>
</div>

<script>
$(function() {
    $('.progressbar').each(function(index, el) {
        var num = $(this).find('em').text();
        $(this).addClass('progressbar-' + num);
    });
});
</script>
<include file="Public:_footer1" />