<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>借款协议-{$glo.web_name}</title>
<style>
  .Lending_Agreement {
  	width:100%;
  	height:auto;
  	margin:0px;
  	padding:0px;
  }
  .Lending_Agreement_center {
  	width:1024px;
  	height:auto;
  	margin:0 auto;
  	border:1px solid #EEEEEE;
  }
  .lending_ageeement_tit {
  	width:960px;
  	height:45px;
  	line-height:45px;
  	color:#666666;
  	font-family:Arial, Helvetica, sans-serif;
  	font-size:16px;
  	font-weight:bold;
  	text-align:center;
  	margin:0 auto;
  	margin-top:30px;
  	border-bottom:1px solid #EEEEEE;
  }
  .ageeement_content {
  	width:1000px;
  	height:auto;
  	margin:0 auto;
  	margin-top:30px;
  	font-size:14px;
  	font-weight:bold;
  	color:#666666;
  	overflow:auto;
  	font-family:Arial, Helvetica, sans-serif;
  }
  .ageeement_content h3 {
  	font-size:14px;
  	font-weight:bold;
  	color:#999999;
  	font-family:Arial, Helvetica, sans-serif;
  	padding-left:10px;
  }
  .font_lendig {
  	font-size:14px;
  	font-weight:bold;
  	color:#666666;
  	font-family:Arial, Helvetica, sans-serif;
  	padding-left:10px;
  	margin-bottom:10px;
  	display:block;
  	margin-top:20px;
  }
  .ageeement_content p {
  	line-height:26px;
  	font-family:Tahoma, Geneva, sans-serif;
  	font-size:14px;
  	color:#999999;
  	margin:0px;
  	font-weight:normal;
  	padding-left:10px;
  	margin-top:6px;
  }
  .ageement_tab {
  	height:40px;
  	line-height:40px;
  }
  .ageement_tab_ite {
  	height:40px;
  	line-height:40px;
  	font-weight:normal;
  }
  .lending_top_inf {
  	width:1000px;
  	height:auto;
  	margin-left:10px;
  }
  .lending_logo {
  	width:1000px;
  	height:100px;
  	border-bottom:2px solid #EEEEEE;
  }
  .lenging_left_logo {
  	width:252px;
  	height:100px;
  	float:left;
  	border-bottom:2px solid #00ADEE;
  }
  .name_inf {
  	width:400px;
  	height:65px;
  	float:left;
  	margin-left:40px;
  	margin-top:2px;
  }
  .lenging_right_inf {
  	width:260px;
  	height:50px;
  	float:left;
  	margin-top:9px;
  }
  .lenging_right_inf ul {
  	margin:0px;
  	padding:0px;
  }
  .lenging_right_inf ul li {
  	width:400px;
  	height:25px;
  	line-height:25px;
  	font-family:Arial, Helvetica, sans-serif;
  	font-size:14px;
  	color:#999999;
  	list-style:none;
  	float:left;
  	padding-left:0px;
  }
  .lenging_right_inf ul li a {
  	color:#999999;
  	text-decoration:none;
  }
  .lenging_right_inf ul li a:hover {
  	color:#FF9900;
  	text-decoration:none;
  }
  .Seal {
  	width:auto;
  	height:auto;
  	margin-right:20px;
  	float:right;
  	text-align:center;
  }
  .seal_text {
  	font-family:Arial, Helvetica, sans-serif;
  	font-size:13px;
  	color:#999999;
  	margin-top:6px;
  	margin-bottom:40px;
  	display:block;
  	font-weight:normal;
  }
  .Agreement_pic {
  	width:200px;
  	height:45px;
  	margin:0 auto;
  }
  a,a:visited{color: #E67714; text-decoration:none;}
</style>
<script type="text/javascript" language="javascript">
	function printht(){
		window.print();
	} 
</script>
</head>
<body>
<div class="Lending_Agreement">
<div class="Lending_Agreement_center">
  <!--顶部信息开始-->
  <div class="lending_top_inf">
    <div class="lending_logo">
      <div class="lenging_left_logo"><a href="/" target="_blank">{:get_ad(1)}</a></div>
      <div class="name_inf"></div>
      <div class="lenging_right_inf">
        <ul>
          <li class="tel400">
            </p>
        </ul>
      </div>
    </div>
  </div>
  <!--顶部信息结束-->
  <div class="lending_ageeement_tit"><span class="Agreement_pic">债权转让协议</span><span style="float:right; padding-right:10px;"><a href="javascrīpt:void(0);" onclick="printht();" target="_self">【打印合同】</a> </span></div>
  <div class="ageeement_content" style="position: relative;">
    <p align="left">合同编号：<u style="color:#c4686d"><strong>【RHH{$iinfo.add_time|date="Ymd",###}{$iinfo['id']} 】</strong></u> </p>
    <p align="left">甲方（债权出让人）：<u style="color:#c4686d">田丽</u></p>
	<p align="left">身份证号：<u style="color:#c4686d">130532198706174066</u></p>
    <p align="left">乙方（债权受让人）：<u style="color:#c4686d"><!--{$mBorrow.user_name}-->{$mInvest.user_name}</u> </p>
	<p align="left">身份证号：<u style="color:#c4686d"><php>echo M("member_info")->where('uid='.$mBorrow["id"])->getField("idcard");</php></u></p>
    <p align="left">丙方（居间服务方）：<u style="color:#c4686d">河北伟兰投资管理有限公司</u> </p>
    <p align="left">生效日期：<u style="color:#c4686d">{$binfo.second_verify_time|date="Y年m月d日",###}</u> </p>
	<p align="left">营业执照注册号：<u style="color:#c4686d">130100000546216</p>
    <p>&nbsp;</p>
    <!--<p>借款人（乙方）通过由{$ht.name|default="本公司"}创办的网络借贷中介平台  （<?php echo C('WEB_URL');?>） （以下简称“本平台”），向本平台的注册会员借款，该借款由担保方（丙方）为借款人（乙方）提供担保。相关借款事项根据《中华人民共和国合同法》等相关法律法规的规定，甲乙丙三方达成如下协议：</p>-->
	<p><strong style="color: #000000;">鉴于： </strong></p>
	<p>&nbsp;</p>
	<p>1. 丙方是一家在石家庄市合法成立并有效存续的有限责任公司，拥有融海行网贷平台（网址：www.ronghaihang.cn ，以下简称“融海行平台”）的经营权，为债权转让双方提供信息咨询管理等居间服务。</p>
	<p>&nbsp;</p>
	<p>2．甲方作为出借人与借款人【{$mBorrow.user_name}】（以下简称“借款人”）于 {$binfo.second_verify_time|date="Y年m月d日",###} 签订了编号为【RHH{$iinfo.add_time|date="Ymd",###}{$iinfo['id']}】《个人抵押借款合同》（以下简称“原始借款合同”），并向借款人履行了借款支付义务。</p>
	<p>&nbsp;</p>
	<p>3.甲方自愿通过融海行平台将其在原始借款合同项下对借款人享有的未到期债权全部或部分进行转让，乙方愿意受让并同意接受原始借款合同之全部条款，并受原始借款合同之约束。</p>
	<p>&nbsp;</p>
	<p>甲乙双方就甲方通过融海行平台向乙方转让其合法享有的借款债权的相关事宜，经协商一致，达成本协议，以资共同信守。</p>
	<p>&nbsp;</p>
    <strong class="font_lendig">第一条   甲方拟将其合法持有的下列债权（以下称“原债权”）通过融海行平台进行转让：</strong>
    <table  width="980" border="1px" bordercolor="#EEEEEE" cellspacing="0px" style="border-collapse:collapse;margin-top:20px;margin-left:10px;">
      <tr class="ageement_tab">
        <td width="196" height="40" align="left" valign="middle">《个人低押借款合同》编号</td>
        <td width="196" height="40" align="center" valign="middle">RHH{$iinfo.add_time|date="Ymd",###}{$iinfo['id']}</td>
	  </tr>
	  <tr class="ageement_tab">
        <td width="196" height="40" align="left" valign="middle">借款人姓名</td>
        <td width="196" height="40" align="center" valign="middle">{$mInvest.user_name} </td>
	  </tr>
	  <tr class="ageement_tab">
        <td width="196" height="40" align="left" valign="middle">借款本金总额</td>
        <td width="196" height="40" align="center" valign="middle">{$iinfo.investor_capital} </td>
	  </tr>
	  <tr class="ageement_tab">
        <td width="196" height="40" align="left" valign="middle">借款利率</td>
        <td width="196" height="40" align="center" valign="middle">{$binfo.borrow_interest_rate}%/<if condition="$binfo.repayment_type eq 1">天<else/>月</if></td>
	  </tr>
	  <tr class="ageement_tab">
        <td width="196" height="40" align="left" valign="middle">借款期限</td>
        <td width="196" height="40" align="center" valign="middle">{$binfo.borrow_duration}<if condition="$binfo.repayment_type eq 1">天<else/>个月</if></td>
	  </tr>
	  <tr class="ageement_tab">
        <td width="196" height="40" align="left" valign="middle">还款方式</td>
        <td width="196" height="40" align="center" valign="middle">{$Bconfig['REPAYMENT_TYPE'][$binfo['repayment_type']]} </td>
	  </tr>
	  <tr class="ageement_tab">
        <td width="196" height="40" align="left" valign="middle">开始日</td>
        <td width="196" height="40" align="center" valign="middle">{$binfo.second_verify_time|date="Y年m月d日",###} </td>
	  </tr>
	   <tr class="ageement_tab">
        <td width="196" height="40" align="left" valign="middle">到期日</td>
        <td width="196" height="40" align="center" valign="middle">{$binfo.deadline|date="Y年m月d日",###} </td>
	  </tr>
        
    </table>
    <p>&nbsp;</p>
    <!--<strong class="font_lendig">第二条   债权人投资信息</strong>
    <table  width="980" border="1px" bordercolor="#EEEEEE" cellspacing="0px" style="border-collapse:collapse;margin-top:20px;margin-left:10px;">
      <tr class="ageement_tab">
        <td width="196" height="40" align="center" valign="middle">债权人</td>
        <td width="196" height="40" align="center" valign="middle">金额 </td>
        <td width="196" height="40" align="center" valign="middle">期限</td>
        <td width="196" height="40" align="center" valign="middle">年利率</td>
        <td width="196" height="40" align="center" valign="middle">开始日</td>
        <td width="196" height="40" align="center" valign="middle">到期日</td>
        <td width="196" height="40" align="center" valign="middle">月截止日</td>
        <td width="196" height="40" align="center" valign="middle">总本息</td>
      </tr>
      <tr class="ageement_tab_ite">
        <td width="196" height="40" align="center" valign="middle">{$mInvest.user_name}</td>
        <td width="196" height="40" align="center" valign="middle">{$iinfo.investor_capital}</td>
        <td width="196" height="40" align="center" valign="middle">{$binfo.borrow_duration}
          <if condition="$binfo.repayment_type eq 1">天
            <else/>
            个月</if></td>
		 <td width="196" height="40" align="center" valign="middle">{$binfo.borrow_interest_rate}%/
          <if condition="$binfo.repayment_type eq 1">天
            <else/>
            月</if></td>
        <td width="196" height="40" align="center" valign="middle">{$binfo.second_verify_time|date="Y年m月d日",###}</td>
        <td width="196" height="40" align="center" valign="middle">{$binfo.deadline|date="Y年m月d日",###}</td>
		<td width="196" height="40" align="center" valign="middle">每隔30天一还</td>
        <td width="196" height="40" align="center" valign="middle"> {$detail.benxi}</td>
      </tr>
    </table>-->
    <p>&nbsp;</p>
    <strong class="font_lendig">第二条   债权还款 </strong>
    <p align="left">1、债权还款计划：</p>
    <table  width="980" border="1px" bordercolor="#EEEEEE" cellspacing="0px" style="border-collapse:collapse;margin-top:20px;margin-left:10px;">
      <tr class="ageement_tab">
        <td width="196" height="40" align="center" valign="middle">期数</td>
        <td width="196" height="40" align="center" valign="middle">金额 </td>
        <td width="196" height="40" align="center" valign="middle">本金</td>
        <td width="196" height="40" align="center" valign="middle">利息</td>
        <td width="196" height="40" align="center" valign="middle">截止日</td>
      </tr>
	  <volist name="detailinfo" id="vo">
      <tr class="ageement_tab_ite">
        <td width="196" height="40" align="center" valign="middle">第{$vo.sort_order|default="1"}期</td>
        <td width="196" height="40" align="center" valign="middle">{$vo.benxi}</td>
        <td width="196" height="40" align="center" valign="middle">{$vo.capital}</td>
        <td width="196" height="40" align="center" valign="middle">{$vo['interest']-$vo['interest_fee']}</td>
		<td width="196" height="40" align="center" valign="middle">{$vo.deadline|date="Y年m月d日",###}</td>
      </tr>
	  </volist>
    </table>
    <!--<p>2、借款人承诺按照本协议以上约定的时间和金额，按期足额向投资者还款。</p>
    <p>&nbsp;</p>
    <strong class="font_lendig">第三条   借款的支付和还款方式 </strong>
    <p> 1、甲方在同意向乙方出借相应款项时，已委托本平台在本借款协议生效时将该笔借款直接划付至借款人帐户。</p>
    <p>2、乙方在还款时已委托本平台将还款直接划付至甲方帐户。</p>
    <p>3、借款人和投资者均同意上述平台接受委托的行为所产生的法律后果均由相应委托方承担。</p>
    <p>&nbsp;</p>
    <strong class="font_lendig">第四条   担保 </strong>
    <p>1、本合同项下借款的担保方式为丙方承担连带责任的保证担保。</p>
    <p>2、丙方完全了解乙方的借款用途，为其提供连带责任的保证担保完全出于自愿，其在本合同项下的全部内容表示真实。</p>
    <p>3、保证担保的范围包括本合同项下的借款本金、利息、违约金、赔偿金、实现债权的费用（含律师费）和所有其他应付费用。</p>
    <p>4、保证期间为本合同确定的到期之次日起两年。分期还款的为本合同确定的最后一期还款期限到期之次日起两年。</p>
    <p>5、若借款人超过截止日仍未还款，则视为逾期。还款发生逾期时，每天的违约金是当天应还款项的千分之八。</p>
    <p>6、乙方逾期还款，丙方须在乙方逾期的当日内，按照本网站内借贷规则中的赔付方式对甲方（所有投资人）进行垫付本息，同时债权归丙方所有，丙方负责向乙方追讨本息、违约金等。</p>
    <p>7、丙方保证责任为独立责任，不因甲、乙方借款合同的无效而无效。</p>
    <p>&nbsp;</p>
    <strong class="font_lendig">第五条：乙方权利、义务</strong>
    <p>1、借款人可在还款截止日之前的任意时段进行提前还款。</p>
    <p>2、自觉接受甲方或丙方对本合同项下借款使用情况的调查、了解及监督。</p>
    <p>3、按本合同约定清偿本合同项下的本金、利息及违约金。</p>
    <p>4、乙方请求丙方作为担保人，为乙方基于本合同对甲方所负的全部债务承担连带责任。</p>
    <p>5、变更住所、通讯地址、号码应在变更后，应当立即书面通知甲方或丙方。</p>
    <p>6、如发生对其履行本合同项下还款义务产生重大影响的任何事件（包括但不限于离、结婚，对外投资，承担民事、行政、刑事责任等），应立即书面通知甲方或丙方。</p>
    <p>&nbsp;</p>
    <strong class="font_lendig">第六条：违约责任</strong>
    <p>1、如乙方未按本合同约定履行归还所借款项义务，丙方对逾期借款从垫付之日起按应还本金每日千分之八收取违约金，直到本息清偿为止。</p>
    <p>2、乙方有下列行为之一，甲方有权提前收回借款：</p>
    <p>（1）向甲方或者丙方提供虚假情况或者隐瞒重要事实;</p>
    <p>（2）不配合、拒绝接受甲方或者丙方的监督;</p>
    <p>（3）未经甲方或者丙方同意，转让、处分其资产;</p>
    <p>（4）其财产重要部分或全部被其他债权人占有、接管或其财产被扣押、冻结，可能使甲方或者丙方遭受严重损失的;</p>
    <p>（5）其他任何可能导致甲方或者丙方实现债权受到威胁或遭受严重损失的。</p>
    <p>&nbsp;</p>
    <strong class="font_lendig">第七条：特别条款</strong>
    <p>1、借款人不得将所借款项用于任何违法活动（包括但不限于赌博、吸毒、贩毒、卖淫嫖娼等）及一切高风险投资（如证券期货、彩票等），否则一经发现，投资者有权要求提前收回全部借款，投资者或本平台还将立即向公安等有关行政机关举报，追回此款并追究借款人的刑事责任。</p>
    <p>2、本平台仅作为该网站注册会员之间小额资金互助平台，反对一切利用本平台进行信用卡套现和其他洗钱等不正当交易行为。如发生此类现象，本平台有权向公安等有关行政机关举报，追究其相关法律责任。</p>
    <p>&nbsp;</p>
    <strong class="font_lendig">第八条：其他</strong>
    <p>1、本协议采用电子文本形式制成，并通过站内信的形式发送协议至本平台。</p>
    <p>2、本协议自借款人在本平台发布的借款标的审核成功之日起生效，借款人、投资者和担保方各执一份，并具同等法律效力。</p>
    <p>3、其他未尽事宜三方另行协商解决，协商不成，在丙方所在地人民法院通过诉讼解决。</p>
    <p>4、本平台拥有对本协议的最终解释权。</p>
	 <p>&nbsp;</p>-->
	 <p>&nbsp;</p>
	 <p style="text-align:center;font-weight: bold;color: #000000;">2、 债权的转让</p>
	 <p>&nbsp;</p>
	  <p><strong style="color: #000000;">第三条  </strong>鉴于甲方已通过融海行平台提出债权转让的要约，在乙方通过融海行平台进行相关操作接受本协议后，本协议立即生效。乙方不可撤销地授权并委托丙方或丙方委托的第三方支付机构冻结乙方汇入第三方支付公司账户的资金，冻结金额等同于本协议约定的转让价格。</p>
	  <p>&nbsp;</p>
	  <p><strong style="color: #000000;">第四条  </strong>在融海行平台公示的该债权转让项目投标期限届满时（如在投标期限届满前满标的，以满标时间为准）,乙方不可撤销地授权并委托丙方或丙方委托的第三方支付机构将上述冻结资金由乙方融海行用户名项下账户（“乙方融海行账户”）划转至甲方融海行用户名项下账户（“甲方融海行账户”）中，划转完毕视为转让价款支付成功。投标期限是指丙方限定的融海行平台的注册用户可以通过融海行平台向该债权转让项目投标的最长期限。</p>
	  <p>&nbsp;</p>
	   <p><strong style="color: #000000;">第五条  </strong>甲乙双方一致同意，乙方向甲方支付债权受让款之日为债权转让生效日，标的债权由甲方转移至乙方，乙方将在其标的债权份额内取代甲方成为新的债权人，享有所有有关标的债权的权利、利益和收益以及与上述相关的任何其他权利、诉求和利益。</p>
	  <p>&nbsp;</p>
	  <p><strong style="color: #000000;">第六条  </strong>自债权转让价款支付成功之日起，乙方将自动受原始借款合同等协议文件中相关条款和条件的约束，承担甲方应承担的责任和义务。</p>
	  <p>&nbsp;</p>
	  <p><strong style="color: #000000;">第七条  </strong>原债权相关的原始借款合同、保证合同、支付凭证、抵押物权利证明（如有）等所有相关文件为本协议的附件。甲乙双方一致同意，甲方于本协议签订之日将全部相关文件原件移交丙方保管。</p>
	  <p>&nbsp;</p>
	 <p style="text-align:center;font-weight: bold;color: #000000;">3、 债权转让通知</p>
	 <p>&nbsp;</p>
	  <p><strong style="color: #000000;">第八条  </strong>甲方应将标的债权转让相关事宜书面通知借款人、担保方（如有）。</p>
	  <p>&nbsp;</p>
	 <p style="text-align:center;font-weight: bold;color: #000000;">4、 还款方式</p>
	 <p>&nbsp;</p>
	  <p><strong style="color: #000000;">第九条 </strong>债权转让成功后，根据乙方受让的债权，借款人对乙方负有相应的偿还借款本息的义务。</p>
	  <p>&nbsp;</p>
	  <p><strong style="color: #000000;">第十条</strong>  债权转让成功后，乙方委托甲方对原始借款合同项下借款本息进行催收管理以及代收。在甲方对借款人每期应付款进行代收后,甲方将代收款项通过第三方支付机构足额支付至乙方融海行账户, 甲方将代收款项通过第三方支付机构足额支付至乙方融海行账户即视为借款人完成当期还款义务。</p>
	  <p>&nbsp;</p>
	 <p style="text-align:center;font-weight: bold;color: #000000;">5、 债权回购</p>
	 <p>&nbsp;</p>
	 <p><strong style="color: #000000;">第十一条</strong>  如发生下列任一条件时，甲方应无条件回购乙方通过本协议受让的债权：</p>
	 <p>&nbsp;</p>
	 <p>（1） 借款人未按照原始借款合同之约定按时足额向乙方支付借款本金和利息；</p>
	 <p>&nbsp;</p>
	 <p>（2） 本协议项下的债权提前到期的;</p>
	 <p>&nbsp;</p>
	 <p>（3） 因借款人或任何第三人对转让的债权提出异议或其他任何原因致使借款人对本协议项下债权的偿还提出异议，进而拒付或少付债权款项的</p>
	 <p>&nbsp;</p>
	 <p>（4） 甲方与借款人或与其他债务人发生任何纠纷等，导致借款人未能在借款合同规定的期限内向乙方支付全部应还款项的;</p>
	 <p>&nbsp;</p>
	 <p>（5） 甲方或借款人提供虚假资料、故意隐瞒重要事实或违反其在本协议、原始借款合同中所做的陈述和保证;</p>
	 <p>&nbsp;</p>
	 <p>（6） 甲方或借款人转移资产、抽逃资金，或卷入或即将卷入重大的诉讼或仲裁程序;</p>
	 <p>&nbsp;</p>
	 <p>（7） 其他法律纠纷，或出甲方或借款人丧失或可能丧失履行债务能力的其他情形;</p>
	 <p>&nbsp;</p>
	 <p>（8） 其他影响乙方实现债权的事项发生的。</p>
	 <p>&nbsp;</p>
	 <p><strong style="color: #000000;">第十二条  </strong>债权回购的价格为回购条件成就时借款人应向债权受让支付的全部款项，包括但不限于借款本金、利息、违约金、损害赔偿金及乙方为实现相关债权所花费的费用（包括但不限于律师费、诉讼费、鉴定费、公证费、差旅费等）。</p>
	 <p>&nbsp;</p>
	 <p style="text-align:center;font-weight: bold;color: #000000;">6、 陈述和保证</p>
	 <p>&nbsp;</p>
	
	 <p><strong style="color: #000000;">第十三条</strong>  甲方作出如下陈述和保证：</p>
	 <p>&nbsp;</p>
	  <p>（1） 甲方拥有完全的民事权利能力和民事行为能力签署并履行本协议；</p>
	  <p>&nbsp;</p>
	 <p>（2） 本协议的各条款均是其真实意思的表示，且原始借款合同履行正常。标的债权对应的借款本息属尚未到期且借款人尚未支付的借款本息，该等债权属甲方合法所有，甲方对其享有独立、完整的权利。</p>
	 <p>&nbsp;</p>
	  <p><strong style="color: #000000;">第十四条</strong>  乙方作出如下陈述和保证:</p>
	  <p>&nbsp;</p>
	  <p>（1） 乙方拥有完全的民事权利能力和民事行为能力签署并履行本协议；</p>
	  <p>&nbsp;</p>
	  <p>（2） 乙方通过融海行平台或丙方委托的第三方支付机构向甲方支付的转让价款的资金来源均合法，如任何其他第三方与乙方就资金合法性及归属问题发生争议，由乙方自行解决，若因此给甲方或丙方造成损失的，应予赔偿；</p>
	  <p>&nbsp;</p>
	  <p>（3） 在签署本协议前，已经详细了解标的债权的相关情况以及融海行平台的有关业务规则和交易说明，对标的债权可能存在的风险以及受让该等借款债权后的所有权利、义务有了充分、全面的认识，清楚知悉其中的投资风险，经独立、审慎判断后做出投资决定。本协议的各条款均是其真实意思的表示，自愿签署本协议并承担投资风险。</p>
	  <p>&nbsp;</p>
	 <p style="text-align:center;font-weight: bold;color: #000000;">7、 违约责任</p>
	 <p>&nbsp;</p>
	 <p><strong style="color: #000000;">第十五条 </strong>  任何乙方违反其在本协议中所作的保证、承诺或未完全履行其在本协议项下的义务，即视为违约，由此给守约方造成损失（包括但不限于为实现权利支付的律师费、诉讼费、公证费、鉴定费等）的，违约方应予赔偿。</p>
	 <p>&nbsp;</p>
	 <p><strong style="color: #000000;">第十六条</strong>  为集中维护各债权受让人的权利，如原始借款合同项下借款人出现逾期还款5天，或借款人在逾期后出现逃避、拒绝沟通或拒绝承认欠款事实等恶意行为的，则乙方同意将本协议项下债权自动无偿转让给丙方，无需再另行签订债权转让协议，由丙方统一向借款人追索。但因借款人失踪或还款能力丧失等原因导致债权的追索不能实现或部分不能实现的，本协议项下债权经丙方通知乙方后重新转让给乙方。乙方收到丙方通知后有权自行向借款人进行债权的追索，丙方应当配合提供乙方实现债权所需文件。乙方应当承担因债权无法追索产生的一切法律责任及结果。</p>
	 <p>&nbsp;</p>
	 <p style="text-align:center;font-weight: bold;color: #000000;">8、 保密条款</p>
	 <p>&nbsp;</p>
    <p><strong style="color: #000000;">第十七条 </strong>本协议签署后，除非事先得到另一方的书面同意，任何一方（除融海行平台外）不得向本协议以外的第三方披露本协议以及本协议项下的事宜以及与此等事宜有关的任何文件、资料或信息(“保密信息”)。</p>
	<p>&nbsp;</p>
	 <p><strong style="color: #000000;">第十八条 </strong> 各方在本条项下的权利和义务在本协议终止或到期后应继续有效。</p>
	 <p>&nbsp;</p>
	 <p style="text-align:center;font-weight: bold;color: #000000;">9、 法律适用和争议解决</p>
	 <p>&nbsp;</p>
	 <p><strong style="color: #000000;">第十九条 </strong>本协议的签订、履行、终止和解释均适用中华人民共和国法律。各方同意并确认，因本协议所产生的或与本协议有关的一切争议，由各方协商解决，协商不成的，由丙方所在地有管辖权的人民法院管辖。</p>
	<p>&nbsp;</p>
	<p style="text-align:center;font-weight: bold;color: #000000;">10、 其他</p>
	 <p>&nbsp;</p>
    <p><strong style="color: #000000;">第二十条 </strong>甲乙各方应自行承担由于订立和履行本协议产生的相关税费。</p>
	<p>&nbsp;</p>
    <p><strong style="color: #000000;">第二十一条 </strong>甲乙双方同意并确认，甲方和乙方通过其融海行账户采取的行为以及授权并委托丙方根据本协议所采取的全部行动和措施所产生的法律后果和法律责任归属于甲方和乙方本身。</p>
	<p>&nbsp;</p>
    <p><strong style="color: #000000;">第二十二条 </strong>本协议中部分条款根据相关法律法规等的规定被认定为无效时，该等无效不影响本协议项下其他条款的效力，本协议各方仍应履行本协议。</p>
	<p>&nbsp;</p>
	<p><strong style="color: #000000;">第二十三条 </strong>甲乙双方委托丙方保管所有与本协议有关的书面文件或电子信息；甲乙双方同意并确认由丙方提供的与本协议有关的书面文件或电子信息在无明显错误的情况下应作为本协议有关事项的终局证明。</p>
	<p>&nbsp;</p>
	<p><strong style="color: #000000;">第二十四条 </strong>本协议中所使用的定义，除在上下文中另有定义外，应具有融海行平台公布的融海行平台定义与释义规则中定义（定义网址: www.ronghaihang.cn）的含义。</p>
	<p>&nbsp;</p>
       <div class="Seal" style="text-align:left;float:left;">
         <!--居间方：
	  <img src="/{$ht.hetong_img}" border="0" width="100px" height="100px"> <br>--> 
		甲方：<u style="color:#c4686d">田丽</u><br>
<p>&nbsp;</p>
		乙方：<u style="color:#c4686d"><!--{$mBorrow.user_name}--></u><br>
<p>&nbsp;</p>
		丙方：<u style="color:#c4686d">河北伟兰投资管理有限公司</u><br>
<p>&nbsp;</p>
		</div>	
	<div style="margin-left:730px;z-index:1;position: absolute;bottom: 17px;right: 103px;">
	<img src="__ROOT__/Style/H/images/images/zhang.png" width="155" height="155"><br>
	<p>&nbsp;</p>
	&nbsp;&nbsp;&nbsp;{$binfo.second_verify_time|date="Y年m月d日",###}
	</div>
  </div>
</div>
</body>
</html>
